<div class="container">
   
    
    <ng-container *ngIf="event$ | async as event">
        <h1 class = "mt-4">{{ event.name }}</h1>

        <img src ="{{event.featuredImageUrl}}" alt="{{ event.name }}" class="img-fluid mt-5 mb-4" style="max-width: 100%; max-height: 200px;">
        <p><strong>Date:</strong> {{ event.date | date: 'dd-MM-yyyy' }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <p><strong>Description:</strong> {{ event.description }}</p>

        <h3>Registrations</h3>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Registration Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registration of registrations$ | async">
                    <td>{{ registration.contactName }}</td>
                    <td>{{ registration.contactEmail}}</td>
                    <td>{{ registration.contactPhone }}</td>
                    <td>{{ registration.registeredAt| date: 'dd-MM-yyyy' }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <!-- Add a loading spinner or message while data is being fetched -->
    <ng-container *ngIf="!(event$ | async) && !(registrations$ | async)">
        Loading...
    </ng-container>
</div>